#webmentions {
    margin: 0;
    position: relative;
    z-index: 100;
    line-height: 1.2em;
}

#webmentions .comments {
    white-space: normal;
}

#webmentions h2 {
    font-size: medium;
    margin: 0;
    padding: 2px;
    background: #fff;
}

#webmentions .reacts img {
    margin: 3px -1ex 1px 0;
}

#webmentions ul {
    list-style-type: none;
    margin: 0;
    padding: 4px;
}

#webmentions li {
    text-indent: -1em;
    padding-left: 1em;
}

#webmentions a.reaction {
    position: relative;
    text-decoration: none;
    text-shadow: 0px 0px 3px white;
    margin-right: 0;
    letter-spacing: -1ex;
    margin-right: 1ex;
}

#webmentions a.reaction img {
    margin-right: -1ex;
    border-radius: 25%;
}

#webmentions a.reaction sub {
    font-size: 50%;
}

#webmentions .comments li {
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 10px;
}

#webmentions .comments li .text {
    color: #353535;
    text-decoration: none;
}

#webmentions .comments li .name {
    color: #353535;
}

