<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Robin Bruch - {{ .Site.BaseURL }}">
  <title>{{ if eq .IsHome true }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
  <meta name="description" content="{{ if ne .Description "" }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
{{ template "_internal/twitter_cards.html" . }}
{{ template "_internal/opengraph.html" . }}
{{ template "_internal/schema.html" . }}
  <link rel="canonical" href="{{ .Permalink | absURL }}">
  <link rel="dns-prefetch" href="https://www.google-analytics.com">
  <link href="https://www.google-analytics.com" rel="preconnect" crossorigin>
  <link rel="alternate" type="application/atom+xml" title="{{ .Site.Title }}" href="{{ .Site.BaseURL }}atom.xml" />
  <link rel="alternate" type="application/json" title="{{ .Site.Title }}" href="{{ .Site.BaseURL }}feed.json" />

  <link rel="stylesheet" href="/css/littlefoot.css" />
  <link rel="stylesheet" href="/css/darkmode.css" />
  <link rel="stylesheet" href="/css/webmention.css" />

  <link rel="authorization_endpoint" href="https://indieauth.com/auth">
  <link rel="webmention" href="https://webmention.io/robinbruch.de/webmention" />

  <!-- ****** faviconit.com Favicons ****** -->
  <link rel="shortcut icon" href="/img/favicon/favicon.ico">
  <link rel="icon" sizes="16x16 32x32 64x64" href="/img/favicon/favicon.ico">
  <link rel="icon" type="image/png" sizes="192x192" href="/img/favicon/favicon-192.png">
  <link rel="icon" type="image/png" sizes="160x160" href="/img/favicon/favicon-160.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96.png">
  <link rel="icon" type="image/png" sizes="64x64" href="/img/favicon/favicon-64.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16.png">
  <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/favicon-57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/favicon-114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/favicon-72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/favicon-144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/favicon-60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/favicon-120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/favicon-76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/favicon-152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/favicon-180.png">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="/img/favicon/favicon-144.png">
  <meta name="msapplication-config" content="img/favicon//browserconfig.xml">
  <!-- ****** faviconit.com Favicons ****** -->

  {{ $styles := resources.Get "scss/styles.scss" | toCSS (dict "outputStyle" "compressed") | minify }}
  <style>{{ $styles.Content | safeCSS }}</style>

  {{ if .IsHome -}}
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": "{{ .Site.Title }}",
    "url": "{{ .Site.BaseURL }}",
    "description": "{{ .Site.Params.description }}",
    "thumbnailUrl": "{{ .Site.Params.Logo | absURL }}",
    "license": "{{ .Site.Params.Copyright }}"
}
</script>
{{ else if .IsPage }}
{{ $author :=  or (.Params.author) (.Site.Author.name) }}
{{ $org_name :=  .Site.Title }}
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "articleSection": "{{ .Section }}",
    "name": "{{ .Title | safeJS }}",
    "headline": "{{ .Title | safeJS }}",
    "alternativeHeadline": "{{ .Params.lead }}",
    "description": "{{ if .Description }}{{ .Description | safeJS }}{{ else }}{{if .IsPage}}{{ .Summary  }}{{ end }}{{ end }}",
    "inLanguage": {{ .Site.LanguageCode | default "en-us" }},
    "isFamilyFriendly": "true",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ .Permalink }}"
    },
    "author" : {
        "@type": "Person",
        "name": "{{ $author }}"
    },
    "creator" : {
        "@type": "Person",
        "name": "{{ $author }}"
    },
    "accountablePerson" : {
        "@type": "Person",
        "name": "{{ $author }}"
    },
    "copyrightHolder" : "{{ $org_name }}",
    "copyrightYear" : "{{ .Date.Format "2006" }}",
    "dateCreated": "{{ .Date.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
    "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
    "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
    "publisher":{
        "@type":"Organization",
        "name": {{ $org_name }},
        "url": {{ .Site.BaseURL }},
        "logo": {
            "@type": "ImageObject",
            "url": "{{ .Site.Params.logo | absURL }}",
            "width":"32",
            "height":"32"
        }
    },
    "image": {{ if .Params.images }}[{{ range $i, $e := .Params.images }}{{ if $i }}, {{ end }}{{ $e | absURL }}{{ end }}]{{ else}}{{.Site.Params.logo | absURL }}{{ end }},
    "url" : "{{ .Permalink }}",
    "wordCount" : "{{ .WordCount }}",
    "genre" : [ {{ range $index, $tag := .Params.tags }}{{ if $index }}, {{ end }}"{{ $tag }}" {{ end }}],
    "keywords" : [ {{ range $index, $tag := .Params.tags }}{{ if $index }}, {{ end }}"{{ $tag }}" {{ end }}]
}
</script>
{{ end }}

</head>